
<%= hidden_field_tag :sort, params[:sort] %>

<table align="center" class="table table-striped table-bordered table-hover">
  <tr>
  	<th>Emoticon</th>
  	<th><%= sortable "name" %></th>
  	<th></th>
  </tr>
<% @emoticons.each do |emoticon| %>
  <tr>
  	<% if emoticon.is_released == true %>
    <td><%= emoticon.emo %></td>
    <td><%= emoticon.name %></td>
    <td><button data-zc-copy-value = <%= emoticon.emo %>  >copy</button></td>
    <% end %> 
  </tr>
<% end %>
</table>
<div class="pagination pagination-centered ">
  <%= will_paginate @products %>
</div>


                 <h5><div align="center">There's no emoticon you're looking for? To suggest new emoticon <%= link_to "Click here!", add_emo_path, :class => "btn-small" %>
              </div><br></h5>


