

<%= form_for(@emoticon) do |f| %>
  <% if @emoticon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emoticon.errors.count, "error") %> prohibited this emoticon from being saved:</h2>

      <ul>
      <% @emoticon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 


    <div class="form-emo">  
        <h1 align="center">New emoticon</h1> <br>
        <h4 align="center">Enter your emoticon here</h4>
         <%= f.text_field :emo, :placeholder => "*(O___o)*" %>
    </div>
    <div class="form-name-emo">
        <h4 align="center">Enter the name here (seperate multiple by comma)</h4>
        <%= f.text_field :name, :placeholder => "crazy, wtf" %>
    </div>
    <div style="text-align:center">
           <button class="btn btn-large btn-primary">
             Add Emoticon
           </button>
    </div>


<% end %>
