<p id="notice"><%= notice %></p>

<p>
  <b>Emo:</b>
  <%= @emoticon.emo %>
</p>

<p>
  <b>Name:</b>
  <%= @emoticon.name %>
</p>t


<%= link_to 'Edit', edit_emoticon_path(@emoticon) %> |
<%= link_to 'Back', emoticons_path %>
