<table>
  <tr>
    <th>Username</th>
  <!--   <th>Email</th>
    <th>Password digest</th>
    <th></th>
    <th></th>
    <th></th> -->
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
   <!--  <td><%= user.email %></td>
    <td><%= user.password_digest %></td> -->
    <td><%= link_to 'Show', user %></td>
  <!--   <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />
<!-- 
<%= link_to 'New User', new_user_path %> -->