<% provide(:title, 'Contact') %>
<h2>What is an emoticon?</h2>
<p>
 <strong>Emoticon</strong> or <strong>Emoji</strong>; Japanese pronunciation: [emodʑi] is the Japanese term for the ideograms or smileys used in Japanese electronic messages and webpages. Originally meaning pictograph, the word literally means "picture" (e) + "letter" (moji). 
 <br><br>
 <h2>About this app</h2>
 <strong>Emosearch</strong> is a fun side project of <a href="http://www.arkavis.com/">Arkavis Siam</a>. <strong>Emosearch</strong> helps you to find the <strong>emoticons</strong> that match with your feeling (for example: for chatting).<br>
 Code : Desak Putu Pramesti Aldila Iswari <br>Logo Design : Sukrit Jitshob
</p>