<div class="center hero-unit" >
	
    	<div align="center"><%= image_tag "logo_emo2.png", :alt => "Emosearch", :width => "600px", :class => "img-rounded" %></div><br>
       		<div align="center"><%= form_tag emoticons_path, :method => 'get', :id => "emos_search" do %>
               <p>
    			<%= text_field_tag :search, params[:search], :class => "span3", :placeholder => "  enter emotion - f.e. confused  " %>
   				<%#= submit_tag "Search", :name => nil %> 
  				</p>
			</div>
</div>
<div id="emos"></div>
<% end %>
		


