<footer class="footer">
    <a href="http://railstutorial.org/">Rails Project</a>
    by Aldila


  

  <div align="right">
 <ul class="inline">
      <li><%= link_to "About",  about_path %></li>

      <li><a href="http://www.arkavis.com/">Arkavis Siam</a></li>
</ul>
  </div>
</footer>