<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <div id="user_nav">
          <%= link_to "emosearch", welcomePage_path, :class => 'brand' %>

          <nav>
           <ul class="nav pull-right">
                <li><%= link_to "All Emoticons", emo_list_path %></li>
                <li><%= link_to "Suggest New Emoticon", add_emo_path %></li>
                <li><%= link_to "About",  about_path %></li>
          </nav>
        
        </div>
      </div>
    </header>