<!DOCTYPE html>
<html>
<head>
  <title>EmoProjekt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="/assets/livesearch.js"></script>  
    <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= yield %>
   
  </div>

</body>
</html>
